<% include ./partials/header %>

 <!--<div class="container flash">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        
        <% if(success && success.length > 0){ %>
            <div class="alert alert-primary" role="alert">
                <%= success %>
            </div>
        <% } %>
        
</div> -->

  


<div class="container"> 
  <h1>Gallery</h1>
  <% if(currentUser){ %>
  <div class="d-flex justify-content-center" style="margin-bottom: 50px;">
  <a href="/gallery/new" class="btn btn-outline-light" id="add">ADD</a>
  </div>
  <% } %>
      <div class="container gallery">
          <div class="section1">

                  <% images.forEach(function(image){ %>
                      <div class="pic red">
                          <img src="<%= image.url %>">
                      </div>
                      <% if(currentUser){ %>
                      <div class="buttons edit">
                              <a class="btn btn-outline-light btn-sm" href="/gallery/<%= image._id %>/edit">EDIT</a>
                              <form action="/gallery/<%= image._id %>?_method=DELETE" style="display:inline;" method="POST">
                              <button class="btn btn-outline-light btn-sm">DELETE</button>   
                              </form>
                      </div>
                      <% } %>
                  <% }) %>

                  
          </div>
      </div>
</div>  
    
     
<% include ./partials/footer %>