<% include ./partials/header %>

 <!--<div class="container flash">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        
        <% if(success && success.length > 0){ %>
            <div class="alert alert-primary" role="alert">
                <%= success %>
            </div>
        <% } %>
        
</div> -->

  


<div class="container"> 
  <h2 class="gallery-title">Gallery</h2>
  <% if(currentUser){ %>
  <div>
  <a href="/gallery/new" class="btn" id="add"><i class="material-icons">add</i>ADD</a>
  </div>
  <% } %>
      <div class="container gallery">
          <div class="section1">

                  <% images.forEach(function(image){ %>
                      <div class="pic red">
                          <img src="<%= image.url %>">
                      </div>
                      <% if(currentUser){ %>
                      <div class="button-wrapper">
                              <a class="btn" href="/gallery/<%= image._id %>/edit"><i class="material-icons">content_copy</i>EDIT</a>
                              <form action="/gallery/<%= image._id %>?_method=DELETE"  method="POST">
                              <button class="btn"><i class="material-icons">clear</i>DELETE</button>   
                              </form>
                      </div>
                      <% } %>
                  <% }) %>

                  
          </div>
      </div>
</div>  
    
     
<% include ./partials/footer %>